<!DOCTYPE html> 
<html lang="pl">
    <head>
        <!-- Latest compiled and minified CSS -->
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <meta http-equiv="cache-control" content="max-age=0" />
        <meta http-equiv="cache-control" content="no-cache" />
        <meta http-equiv="expires" content="0" />
        <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
        <meta http-equiv="pragma" content="no-cache" />
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{asset('css/app.css')}}"/>        
            <link rel="stylesheet" href="{{asset('css/ihover.css')}}"/>        
        {% endblock %}
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    </head>
    <body>
        <div id="closeMenu" class="bottomRight" style="display:none;">Zamknij menu <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span></div>
        <div class="navbar navbar-default navbar-fixed-top" id="navbarMenu" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('welcome') }}">Hufiec Opole</a>
                </div>
                <div class="collapse navbar-collapse">                
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="{{ path('welcome') }}">Aktualności</a></li>
                        <li><a href="#">Galeria</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">Faktura</a></li>
                        <li><a href="{{ path("welcome") }}">Powrót na stronę główną</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
        <section id="content">
            <div class="container" id="start">
                {% block body %}
                {% endblock %}
            </div>
            {% block javascripts %}
                <script src="{{ asset('js/core.js') }}"></script>
            {% endblock %}
        </section>
        <footer>
            <div class="slideUp">&nbsp;<span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>&nbsp;</div>
            <div class="container">
                <div class="row">
                    <div id="footer-left" class="footerColumn col-md-4 col-lg-4 col-sm-6">
                        <ul>
                            <li>
                                <h1>MENU</h1>
                            </li>
                            <li>
                                <a href="#">- Strona główna</a>
                            </li>
                            <li>
                                <a href="#">- Galeria</a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/HufiecOpole/" target="_blank">- Facebook</a>
                            </li>
                            <li>
                                <a href="#">- Kontakt <span class="glyphicon glyphicon-comment"></span></a>
                            </li>
                        </ul>
                    </div>
                    <div id="footer-mid" class="footerColumn col-md-4 col-lg-4 col-sm-6">
                        Jesteśmy tutaj:<br/>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2529.000496509234!2d17.924449528068152!3d50.664251321699155!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4710530a535d9227%3A0x2a1eb6d933e436b!2sZwi%C4%85zek+Harcerstwa+Polskiego.+Komenda+Hufca!5e0!3m2!1spl!2spl!4v1490905862798" width="240" height="180" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                    <div id="footer-right" class="footerColumn col-md-4 col-lg-4 col-sm-12">
                        <a href="https://zhp.pl" target="_blank">
                            <img alt="Związek Harcerstwa Polskiego - zhp.pl" src="https://zhp.pl/wp-content/uploads/2015/01/logo1.png" data-retina="https://zhp.pl/wp-content/uploads/2015/01/logo1.png" data-first="https://zhp.pl/wp-content/uploads/2015/01/logo1.png">
                        </a>                        
                    </div>
                </div>
            </div>
            <div class="copyright">Copyright © 1997-{{date().format('Y') }} Hufiec Opole ZHP</div>
        </footer>
    </body>
</html>
