{% extends 'basePanel.html.twig' %}
{% block body %}
    <div class="col-md-6 box" >
        <div class="tresc">
            <div class="row">
                <h2 class="tresc-title">Odnośniki</h2>
                Nowy artykuł:
                <a class="btn btn-success" href="{{ path('newArticle') }}">Dodaj artykuł</a>
            </div>
        </div>
    </div>
    <div class="col-md-6 box">
        <div class="tresc">
            <div class="row">
                asd
            </div>
        </div>
    </div>
{% endblock %}