{% extends 'base.html.twig' %}
{% block body %}
    <div class="col-md-12">
        <div class="row">
            <div class="tresc">
                <h1 class="tresc-title center">Aleksander Kamiński</h1>
                <hr/>
                Aleksander Kamiński, przybrane nazwisko: Aleksander Kędzierski. <br/>
                Znany również pod pseudonimami Dąbrowski, J. Dąbrowski, Fabrykant, Faktor, Juliusz Górecki, Hubert, Kamyk, Kaźmierczak, Bambaju (ur. 28 stycznia 1903 w Warszawie, zm. 15 marca 1978 tamże) – pedagog, wychowawca, profesor nauk humanistycznych, współtwórca metodyki zuchowej, instruktor harcerski, harcmistrz, żołnierz Armii Krajowej oraz jeden z ideowych przywódców Szarych Szeregów, przewodniczący Prezydium Rady Naczelnej Związku Harcerstwa Polskiego.
                Mąż Janiny Kamińskiej, polskiej archeolog, pedagog i instruktorki Związku Harcerstwa Polskiego, ojciec Ewy Rzetelskiej-Feleszko (profesor językoznawstwa).
            </div>
        </div>
    </div>
{% endblock %}