{% extends 'base.html.twig' %}
{% block body %}
    <div class="col-md-12">
        <div class="row">
            <div class="tresc">
                <iframe src="https://calendar.google.com/calendar/embed?src=b3fstlmhgbc2827tk9ku01893g%40group.calendar.google.com&ctz=Europe/Warsaw" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
            </div>
        </div>
    </div>
{% endblock %}