{% extends 'base.html.twig' %}
{% block body %}
    <div class="col-md-12">
        <div class="row">
            <div class="tresc">
                <div class="row">
                    <h1 class="tresc-title center">Dane Hufca i Chorągwi</h1>
                    <hr/>
                    <div class="col-md-6">
                        <h2 class="tresc-title">Hufiec Opole</h2>
                        <p class="greenText">
                            Komenda Hufca ZHP Opole<br/>
                            ul. Oleska 70/102<br/>
                            45-222 Opole<br/>
                            Nr konta bankowego: 30 1540 1229 2055 4605 8223 0001
                        </p>
                    </div>
                    <div class="col-md-6">
                        <h2 class="tresc-title ">Chorągiew Opolska</h2>
                        <p class="greenText">
                            NIP 754-00-21-073<br/>
                            Chorągiew Opolska Związku Harcerstwa Polskiego<br/>
                            45-071 Opole; ul. Armii Krajowej 10/12 (II piętro)<br/>
                            tel./fax +48 77 453 67 09<br/>
                            e-mail: biuro@opolska.zhp.pl
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}