{% extends 'base.html.twig' %}
{% block body %}
    <div class="col-md-9">
        <div class='articles'>
            {% for article in articles %}
                <div class='article'>
                    <div class="tresc">
                        <h2 class="tresc-title">{{ article.getTitle() }}</h2>
                        <h5 class="tresc-subtitle">Dodano {{ article.getCreatedAt().format('Y-m-d H:i') }} przez <span class="greenText">{{ article.getCreatedBy().getName() }}</span></h5>
                        <div class="tresc-content">{{ article.getContent()|raw }}</div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class='pagination tresc'>
            <h5 class="tresc-title">Starsze artykuły</h5>
            <ul>
                {% for i in 1..articleGroupsCount %}
                    {#                    <li class='active'><a href="#">1</a></li>#}
                    <li ><a href="{{ path("welcome", {"page": i})}}">{{ i }}</a></li>
                        {#                    <li><a href="#">3</a></li>#}
                        {#                    <li><a href="#">4</a></li>#}
                    {% endfor %}
            </ul>
        </div>
    </div>

    <div class="asides col-md-3">
     {#   <aside class="tresc col-md-12 col-sm-5 col-xs-12">
            <h4 class="tresc-title">Czy wiesz że ...</h4>
            <div class="asideContent">
                ... Jesteś na najlepszej stronie internetowej na świecie?
            </div>
        </aside>#}
        <aside class="tresc col-md-12 col-sm-5 col-xs-12">
            <h4 class="tresc-title">Chorągiew Opolska</h4>
            <div class="asideContent">
                <a href='http://opolska.zhp.pl/'><img style='width: 100%;' src="{{asset('img/choragiewlogo.png')}}" alt="Chorągiew Opolska"/></a> 
            </div>
        </aside>
    </div>
{% endblock %}