{% extends 'base.html.twig' %}
{% block body %}
    <div class="col-md-12">
        <div class="row">
            <div class="tresc">
                {% for tribe in tribes %}
                        <div class="row">
                            <div class="hrText">
                    {% if(tribe.name != "other") %}
                                <span><h4>{{ tribe.name }}</h4></span>
                    {% else %}
                                <span><h4>Drużyny nie przynależące do szczepu</h4></span>
                    {% endif %}
                            </div>
                        </div>
{#                    {% if(tribe.name != "other") %}#}
                        <div class="row">
{#                        {% endif %}#}
                        {% for troop in tribe.getTroops() %}
                            <div class="padding20 col-lg-3 col-md-6">
                                <div class="person troop">
                                    <h4 class="tresc-title">{{troop.name}}</h4>
                                    <p>Drużynowy: {{ troop.leader }}</p>
                                    <p>Kontakt: {{ troop.contact }}</p>
                                    <p>Termin zbiórek: {{ troop.meetingTime }}</p>
                                </div>
                            </div>
                        {% endfor %}
{#                        {% if(tribe.name != "other") %}#}
                        </div>
{#                    {% endif %}#}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}