{% extends 'base.html.twig' %}
{% block body %}
    <div class="col-md-12">
        <div class="row">
            <div class="tresc">
                <h1 class="tresc-title center">Komenda Hufca Opole</h1>
                <hr/>
                <div class="row">
                    <div class="personInfo">
                        <div class="personData">
                            <div class="col-sm-3">
                                <img class="img-responsive noPadding" src="{{ asset('img/komenda/komendantt.jpg') }}" alt="img">
                            </div>
                            <div class="col-sm-9">
                                <h2 class="tresc-title">hm. Piotr Laskowski</h2>
                                <p>Komendant Hufca Opole
                                    <br/>
                                    <br/>
                                <h4 class="greenText">Kontakt</h4>
                                Email: <a href="mailto://p.laskowski@zhp.net.pl"><span class="greenText glyphicon glyphicon-envelope"></span></a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="hrText">
                        <span><h4>Członkowie Komendy Hufca</h4></span>
                    </div>
                </div>
                <div class="row">
                    <div class="padding20 col-lg-3 col-md-6">
                        <div class="person">
                            <h4 class="tresc-title">hm. Krystyna Zabilska</h4>
                            <p>zastępca Komendanta</p>
                        </div>
                    </div>
                    <div class="padding20 col-lg-3 col-md-6">
                        <div class="person">
                            <h4 class="tresc-title">phm. Anna Turek</h4>
                            <p>zastępca Komendanta</p>
                        </div>
                    </div>
                    <div class="padding20 col-lg-3 col-md-6">
                        <div class="person">
                            <h4 class="tresc-title">phm. Dariusz Rop</h4>
                            <p>skarbnik</p>
                        </div>
                    </div>
                    <div class="padding20 col-lg-3 col-md-6">
                        <div class="person">
                            <h4 class="tresc-title">hm. Waldemar Raźniewski</h4>
                            <p>członek Komendy Hufca</p>
                        </div>
                    </div>
                    <div class="padding20 col-lg-3 col-md-6">
                        <div class="person">
                            <h4 class="tresc-title">hm. Paweł Sadło</h4>
                            <p>członek Komendy Hufca</p>
                        </div>
                    </div>
                    <div class="padding20 col-lg-3 col-md-6">
                        <div class="person">
                            <h4 class="tresc-title">phm. Aleksandra Dawidowicz</h4>
                            <p>członek Komendy Hufca</p>
                        </div>
                    </div>
                    <div class="padding20 col-lg-3 col-md-6">
                        <div class="person">
                            <h4 class="tresc-title">phm. Anna Korczyńska</h4>
                            <p>członek Komendy Hufca</p>
                        </div>
                    </div>
                </div>
                <div class="row" id="komisjaRewizyjna">
                    <div class="hrText">
                        <span><h4>Komisja Rewizyjna</h4></span>
                    </div>
                </div>
                <div class="row">
                    <div class="padding20 col-lg-3 col-md-6">
                        <div class="person">
                            <h4 class="tresc-title">phm. Rafał Janowski</h4>
                            <p>Przewodniczący HKR</p>
                        </div>
                    </div>
                    <div class="padding20 col-lg-3 col-md-6">
                        <div class="person">
                            <h4 class="tresc-title">pwd. Anna Kucharska</h4>
                            <p>członek HKR</p>
                        </div>
                    </div>
                    <div class="padding20 col-lg-3 col-md-6">
                        <div class="person">
                            <h4 class="tresc-title">pwd. Zofia Chlebda</h4>
                            <p>członek HKR</p>
                        </div>
                    </div>
                    <div class="padding20 col-lg-3 col-md-6">
                        <div class="person">
                            <h4 class="tresc-title">pwd. Adam Panczocha</h4>
                            <p>członek HKR</p>
                        </div>
                    </div>
                    <div class="padding20 col-lg-3 col-md-6">
                        <div class="person">
                            <h4 class="tresc-title">pwd. Mariusz Turek</h4>
                            <p>członek HKR</p>
                        </div>
                    </div>
                </div>
                <div class="row" id="komisjaStopniWedrowniczych">
                    <div class="hrText">
                        <span><h4>Komisja Stopni Wędrowniczych</h4></span>
                    </div>
                </div>
                <div class="row">
                    <div class="padding20 col-lg-3 col-md-6">
                        <div class="person">
                            <h4 class="tresc-title">pwd. Piotr Mnich</h4>
                            <p>Przewodniczący KSW</p>
                        </div>
                    </div>
                    <div class="padding20 col-lg-3 col-md-6">
                        <div class="person">
                            <h4 class="tresc-title">pwd. Robert Mnich</h4>
                            <p>członek KSW</p>
                        </div>
                    </div>
                    <div class="padding20 col-lg-3 col-md-6">
                        <div class="person">
                            <h4 class="tresc-title">phm. Jakub Lasek</h4>
                            <p>członek KSW</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="hrText" id="komisjaStopniInstruktorskich">
                        <span><h4>Komisja Stopni Instruktorskich</h4></span>
                    </div>
                </div>
                <div class="row">
                    <div class="padding20 col-lg-3 col-md-6">
                        <div class="person">
                            <h4 class="tresc-title">hm. Stanisław Bałaj</h4>
                            <p>Przewodniczący KSI</p>
                        </div>
                    </div>
                    <div class="padding20 col-lg-3 col-md-6">
                        <div class="person">
                            <h4 class="tresc-title">hm. Jan Szczepanik</h4>
                            <p>członek KSI</p>
                        </div>
                    </div>
                    <div class="padding20 col-lg-3 col-md-6">
                        <div class="person">
                            <h4 class="tresc-title">hm. Joanna Raźniewska</h4>
                            <p>członek KSI</p>
                        </div>
                    </div>
                    <div class="padding20 col-lg-3 col-md-6">
                        <div class="person">
                            <h4 class="tresc-title">hm. Mariola Mandryga</h4>
                            <p>członek KSI</p>
                        </div>
                    </div>
                    <div class="padding20 col-lg-3 col-md-6">
                        <div class="person">
                            <h4 class="tresc-title">hm. Leszek Sroka</h4>
                            <p>członek KSI</p>
                        </div>
                    </div>
                    <div class="padding20 col-lg-3 col-md-6">
                        <div class="person">
                            <h4 class="tresc-title">phm. Rafał Tereba</h4>
                            <p>członek KSI</p>
                        </div>
                    </div>
                    <div class="padding20 col-lg-3 col-md-6">
                        <div class="person">
                            <h4 class="tresc-title">phm. Anna Turek</h4>
                            <p>członek KSI</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}