{% extends 'base.html.twig' %}
{% block body %}
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">
                <div class="tresc" style="padding-bottom: 5px;">
                    <h3 class="tresc-title">Skontaktuj się z nami przez formularz</h3>
                    <br/><br/>
                    <form class="form-horizontal" method="post">
                        <div class="form-group">
                            <label for="email" class="col-sm-3 control-label greenText">Twój email</label>
                            <div class="col-sm-9">
                                <input type="email" class="form-control" name="email" placeholder="Email" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="topic" class="col-sm-3 control-label greenText">Temat</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="topic" placeholder="Temat wiadomości" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="emailContent" class="col-sm-3 greenText control-label">Treść</label>
                            <div class="col-sm-9">
                                <textarea class="form-control" name="emailContent" rows="4" required></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn pull-right btn-success btn-default">Wyślij</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-6">
                <div class="tresc" style="padding-bottom: 5px;">
                    <h3 class="tresc-title">... lub skorzystaj ze swojej skrzynki pocztowej</h3>
                    <p class="greenText">
                        <br/><br/>
                    <h3 class="greenText center">opole@opolska.zhp.pl</h3>
                    <br/><br/>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}