{% extends 'base.html.twig' %}
{% block body %}
    <div class="col-md-12">
        <div class="row">
            <div class="tresc">
                <div class="row">
                    <div class="hrText">
                        <span><h4>Rozkazy</h4></span>
                    </div>
                </div>
                <div class="row">
                    {% for rozkaz in documents %}
                        <div class="padding20 col-lg-3 col-md-6">
                            <div class="person">
                                <h4 class="tresc-title">{{ rozkaz.getFilename() }}</h4>
                                <p><a style="text-decoration:none;" target="_blank" href="{{ path("download-document", { "uuid": rozkaz.id}) }}">Pobierz</a></p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}