@import url(http://fonts.googleapis.com/css?family=Raleway);
/*
ciemna zieleń: #718c0f
jasna zieleń: #84a311
super jasna zieleń: #afd425
*/
body {
    background-color: #e1f0c4;
}
footer {
    bottom: 0;
}

/*linia z tekstem*/
.hrText {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap; 
    width: 96%;
    margin: 0 auto;
}
.article img {
    max-width: 100%;
}
.hrText > span {
    position: relative;
    color: #718c0f;
    display: inline-block;
}

.hrText > span:before,
.hrText > span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 1px;
    background: #718c0f;
}
.troop {
    min-height: 220px;
}
.person {
    border: #84a311 solid 1px;
    padding-left: 10px;
    font-size: 0.9em;
}
.person h4 {
    min-height: 70px;
}
.person p {
    min-height: 30px;
}
.hrText > span:before {
    right: 100%;
    margin-right: 15px;
}

.hrText > span:after {
    left: 100%;
    margin-left: 15px;
}
/*end linia z tekstem*/
.navbar-fixed-top {
    border-width: 0;
}

.noPadding {
    padding: 0 !important;
}
.padding20 {
    padding: 20px !important;
}
.marginTop50 {
    margin-top: 50px;
}
label {
    font-weight: normal;
}
.btn-success {
    background-color: #84a311;
    border: #84a311;
}
.personInfo img {
    left: 0;
    top: 0;
    max-width: 200px;
}
.box {
    padding: 5px;
    background-color: #e1f0c4;
}

.personDetails {
    background-color: #718c0f;
    color: #fff;
    text-align: center;
    height: 50px;
}
.personDetails span {
    line-height: 50px;
    font-size: 30px;
}
.personDetails p {
    line-height: 50px;
    float: left;
    width: 80%;
}
.navbar {
    margin-bottom: 0px;
}
.dropdown-menu > li,
.navbar-default .navbar-brand,
.dropdown-menu > li > a:focus, 
.dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-toggle,
.navbar-default .navbar-nav .open .dropdown-menu > li > a, 
.navbar-default .navbar-nav .open .dropdown-menu > li > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-toggle:hover
{
    cursor: pointer;
    background-color: #718c0f;
    color: white;
}
#closeMenu {
    right: 30px;
    color: #fff;
    position: fixed;
    bottom: 20px;
    padding: 10px;
    background: rgba(0,0,0,0.3);
    cursor: pointer;
    border-radius: 3px;
    z-index: 150;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > li:hover,
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:focus, 
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus, 
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover
{
    color:white;
    background-color: #84a311;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: white;
    background-color: #84a311;
}

.dropdown-menu > li > a, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color:white;
}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: white;
}
.dropdown-menu {
    background-color: #718c0f;
}
.navbar-default {
    background-color: #718c0f;
}
body {
    font-family: Raleway;
    word-wrap: break-word;
}
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}
/*
.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}*/

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

/* CONTENT */
section#content {
    background-color: #e1f0c4;
    min-height: calc(100vh - 365px);
}
.tresc {
    background-color: #fff;
    padding: 5px 20px 30px;
    margin: 20px auto;
}

.asideContent {
    margin-top:20px;    
}
.tresc-title {
    margin: 13px 0 0;
    color: #718c0f;
    font-weight: 500;
}
.greenText {
    color: #718c0f;
}
.pagination ,
.asides aside:last-child {
    margin-bottom:50px;
}

/* paginacja */
.pagination {
    width: 100%;
    padding: 5px 0px 0px;
}
.pagination .tresc-title {
    padding: 5px 20px 30px;
}
.pagination ul {
    list-style-type: none;
    padding-left: 20px;
}
.pagination ul li a,
.pagination ul li a:hover,
.pagination ul li a:visited
{
    color: black;
    text-decoration: none;
}
.pagination ul li.active a{
    color: #718c0f;
    font-weight: bold;
}
textarea {
    max-width: 100%;
}
.pagination ul li {
    font-size: 20px;
    padding: 5px;
    /*border-right: 1px black solid;*/
    display: inline;
}
/* stopka */
.center {
    text-align: center !important;
}
footer {
    position: relative;
    color: #fff;
    min-height: 200px;
    background-color: #718c0f;
    width: 100%;
}

footer ul {
    list-style-type:none;
}
footer .container {
    padding: 40px 60px;
    min-height: 200px;
}
.footerColumn {
    text-align: left;
}
#footer-mid {
    text-align: center;
}
#footer-left a, 
#footer-left a:visited, 
#footer-left a:hover {
    color: white;
    text-decoration: none;
}
#footer-left li {
    margin: 5px 0;

}
#footer-right {
    line-height: 200px;
}
.slideUp {
    position:absolute;
    font-size: 25px;
    text-align: center;
    cursor: pointer;
    background-color: #718c0f;
    margin-top: -25px;
    width: 50px;
    height: 50px;
    -moz-border-radius: 25px; 
    -webkit-border-radius: 25px;
    border-radius: 25px;
    left: calc(50% - 25px);
}
.copyright {
    /*margin: 0 auto;*/
    height: 30px;
    text-align: center;
}
@media (max-width: 991px) {
    footer {
        position: relative;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    #footer-right
    {
        margin-top: 30px;
        /*border-top: 1px white solid;*/
    }
    #footer-left {
        border-right: 1px white solid;
        height: 215px;
    }
    .asides aside:nth-child(even){
        margin-left: calc(100%/6);
    }
}
@media  (max-width: 991px) {
    #footer-right {
        text-align: center; 
        line-height: 0px;
    }
    .footerColumn {
        padding: 15px 0;
    }
}
@media (max-width: 767px) {
    #footer-right{
        border-top: 1px white solid;
    }
    #footer-mid
    {
        border-top: 1px white solid;
    }

}